@import "tailwindcss";

:root {
  --background: #F9F8F7;
  --foreground: #2D2D2D;

  --gold: #D4AF37;
  --secondary: #9E7E73;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}